# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# -*- mode: shell;-*-

if   [ "$(uname)" == "FreeBSD" ] && [ -n "$(command -v gnuls)" ]; then alias ls="gnuls --color=auto"
elif [ "$(uname)" == "FreeBSD" ]; then alias ls="ls -G"
fi

if [ -x "/usr/bin/dircolors" ]; then
    [ -r "$HOME/.dircolors" ] && eval `dircolors -b $HOME/.dircolors` || eval `dircolors -b`
    alias ls="ls --color=auto"
    alias dir="dir --color=auto"
    alias vdir="vdir --color=auto"
    alias grep="grep --color=auto"
    alias fgrep="fgrep --color=auto"
    alias egrep="egrep --color=auto"
fi

alias ll="ls -lh"
alias la="ls -A"
alias lla="ls -lhA"
alias df="df -h"
alias rm="rm -v"
alias rmi="rm -i" 

alias allup="utilup; utilup; dotup"

if [ -n "$PKG" ]; then
    alias pkg-in="sudo $PKG install"
    alias pkg-rm="sudo $PKG remove"
    alias pkg-up="sudo $PKG update"
    alias pkg-ug="sudo $PKG upgrade"
    alias pkg-ar="sudo $PKG autoremove"
    alias pkg-se="sudo $PKG search"
    alias pkg-du="sudo $PKG dist-upgrade"
    alias pkg-u="pkg-up; pkg-ug"
fi

if [ "$PKG" == "pacman" ]; then
    alias pkg-in="sudo $PKG -S"
    alias pkg-rm="sudo $PKG -Rs"
    alias pkg-se="sudo $PKG -Ss"
    alias pkg-up="sudo $PKG -Syu"
    alias pkg-ar="sudo $PKG -Qdtq | $PKG -Rs -"
    alias pkg-u="pkg-up"
    alias pkg-ug="pkg-up"
    unalias pkg-du
elif [ "$PKG" == "pkg" ]; then unalias pkg-du
elif [ "$PKG" == "yum" ] || [ "$PKG" == "dnf" ]; then
    alias pkg-u="pkg-up"
    unalias pkg-du
fi

if hash vim 2>/dev/null; then alias vi="vim"; fi

if hash git 2>/dev/null; then
    alias gco="git commit -am"
    alias gdi="git diff"
    alias gcl="git clone"
    alias gpu="git push"
    alias gll="git pull"
    alias grm="git rm"
    alias gadd="git add"

    alias hcf="git --git-dir=$HOME/.myconf/ --work-tree=$HOME"
    alias hco="hcf commit -am"
    alias hpu="hcf push"
    alias hll="hcf pull"
    alias dotup="hcf pull"
fi

if hash visudo 2>/dev/null;   then alias visudo="sudo EDITOR=nano visudo"; fi
if hash crontab 2>/dev/null;  then alias crontab="EDITOR=nano crontab"; fi
if hash chsh 2>/dev/null;     then alias chsh="EDITOR=nano chsh"; fi
if hash xdg-open 2>/dev/null; then alias gop="xdg-open"; fi
